/*****************************************************************************
 * top content
 *
 * Inspiration for two cols with scrollbars: http://jsfiddle.net/wQ6WQ/1/
 *****************************************************************************/
#content, html, body {
    height: 100%;
    background-color: white;
}


.pull-right {
  float: right;
}