/*****************************************************************************
 * top content
 *
 * Inspiration for two cols with scrollbars: http://jsfiddle.net/wQ6WQ/1/
 *****************************************************************************/
#content, html, body {
    height: 100%;
    background-color: white;
}


.pull-right {
  float: right;
}

.text-muted {
  color: gray;
}



.ui.segment.no-border {
  border: none;
  box-shadow: none;
}

.ui.segment.nop-padding {
  padding-top: 0;
  padding-bottom: 0;
}