.btn-http-method {
  color: inherit;
  background-color: transparent;
}

/*
Color schema:
    HEAD    - #5bc0de
    GET     - #428bca

    DELETE  - #d9534f
    PUT     - #EB961E
    PATCH   - #F2C769

    POST    - #5cb85c

    OPTIONS - #dddddd
    TRACE   - #aaaaaa

    Utility site: http://colllor.com/
 */

.lioperation.active .btn-http-method-head,
.btn-http-method-head:hover     { background-color: #5bc0de; color: white; }
.btn-http-method-head                      { color: #5bc0de;
                                      border-color: #5bc0de; }

.lioperation.active .btn-http-method-get,
.btn-http-method-get:hover      { background-color: #428bca; color: white; }
.btn-http-method-get                       { color: #428bca;
                                      border-color: #428bca; }

.lioperation.active .btn-http-method-delete,
.btn-http-method-delete:hover   { background-color: #d9534f; color: white; }
.btn-http-method-delete                    { color: #d9534f;
                                      border-color: #d9534f; }

.lioperation.active .btn-http-method-put,
.btn-http-method-put:hover      { background-color: #EB961E; color: white; }
.btn-http-method-put                       { color: #EB961E;
                                      border-color: #EB961E; }

.lioperation.active .btn-http-method-patch,
.btn-http-method-patch:hover    { background-color: #F2C769; color: white; }
.btn-http-method-patch                     { color: #F2C769;
                                      border-color: #F2C769; }

.lioperation.active .btn-http-method-post,
.btn-http-method-post:hover     { background-color: #5cb85c; color: white; }
.btn-http-method-post                      { color: #5cb85c;
                                      border-color: #5cb85c; }

.lioperation.active .btn-http-method-options,
.btn-http-method-options:hover  { background-color: #dddddd; color: black; border-color: black; }
.btn-http-method-options                   { color: #dddddd;
                                      border-color: #dddddd; }

.lioperation.active .btn-http-method-trace,
.btn-http-method-trace:hover    { background-color: #aaaaaa; color: black; border-color: black; }
.btn-http-method-trace                     { color: #aaaaaa;
                                      border-color: #aaaaaa; }


/* Note: This rule needs to be above the other .panel-http-method rules */
.panel-deprecated > .panel-heading {
  color: #fff !important;
  background: repeating-linear-gradient(
    45deg,
    rgba(0,0,0, 0.5),
    rgba(0,0,0, 0.5) 10px,
    rgba(0,0,0, 0.3) 10px,
    rgba(0,0,0, 0.3) 20px
  );
}

.panel-http-method a { color: black; }

.documentation-widget.panel-http-method-head                     {     border-color: #5bc0de; }
.documentation-widget.panel-http-method-head > .panel-heading    {     border-color: #5bc0de;
                                                                   background-color: #5bc0de; color: #fff; }

.documentation-widget.panel-http-method-get                      {     border-color: #428bca; }
.documentation-widget.panel-http-method-get > .panel-heading     {     border-color: #428bca;
                                                                   background-color: #428bca; color: #fff; }

.documentation-widget.panel-http-method-delete                   {     border-color: #d9534f; }
.documentation-widget.panel-http-method-delete > .panel-heading  {     border-color: #d9534f;
                                                                   background-color: #d9534f; color: #fff; }

.documentation-widget.panel-http-method-put                      {     border-color: #EB961E; }
.documentation-widget.panel-http-method-put > .panel-heading     {     border-color: #EB961E;
                                                                   background-color: #EB961E; color: #fff; }

.documentation-widget.panel-http-method-patch                    {     border-color: #F2C769; }
.documentation-widget.panel-http-method-patch > .panel-heading   {     border-color: #F2C769;
                                                                   background-color: #F2C769; color: #fff; }

.documentation-widget.panel-http-method-post                     {     border-color: #5cb85c; }
.documentation-widget.panel-http-method-post > .panel-heading    {     border-color: #5cb85c;
                                                                   background-color: #5cb85c; color: #fff; }

.documentation-widget.panel-http-method-options                  {     border-color: #dddddd; }
.documentation-widget.panel-http-method-options > .panel-heading {     border-color: #dddddd;
                                                                   background-color: #dddddd; color: #000; }

.documentation-widget.panel-http-method-trace                    {     border-color: #aaaaaa; }
.documentation-widget.panel-http-method-trace > .panel-heading   {     border-color: #aaaaaa;
                                                                   background-color: #aaaaaa; color: #000; }
